@model IEnumerable<CompanyRecordMvc.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Newsletter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emailaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Newsletter)
        </td>
       
    </tr>
}

</table>
